/* Estilo do nav */
nav .nav-titulo{
    color: #774700;
}

/* Estilo botão login e cadastre-se */
.altera-botao {
    /* Estilo do botão */
    border: 0;
    background-color: aquamarine;
}

.altera-botao:hover{
    /* Quando mouse estiver em cima vai fazer algo */
    background-color: rebeccapurple;
}

.container {
    margin-top: 20px;
}