
/* Estilo do nav */
div a img{
    color: #fff;
   display: flex;
   margin-right: 0px;
   margin-top: 55px;
}


.container-estilo{
    background-color: #59518C;
    height: 120px;
    font-family: 'Mukta', sans-serif;
}

/* Estilo botão login e cadastre-se */
.altera-botao {
    /* Estilo do botão */
    border: 0;
    background-color: #59518C;
}

.container {
    margin-top: 20px;
  
}

.centraliza-grid{
    display: grid;
    place-items: center;
}

.Texto{
    
    margin-left: 100px;
   
}

.titulo {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    color: #191725;
    margin: 100px;
    margin-top: 50px;
    margin-bottom: 30px;
}
.nav-titulo{
    color: #ffff;
    margin-bottom:60px;
    margin-left:10px;
}
.nav-titulo:hover{
    color: #fcf9ff;
    transition: 1s;
}
.nav-link{
    padding:50px;
    margin-bottom:5px;
    color:#ffff !important;
}
.nav-link:hover{
    color:#CAACF2 !important;
    transition: 1s;
}
.botao{
    height: 38px;
    margin-right: 155px;
    color:#756CBF;
    border-color: white;
    background-color: #ffff;
    border-radius: 10px;
}
.botao:hover{
    color: #ffffff  ;
    border-color: #a39cdd;
    display: block;
    background-color: #756CBF;
    transition: 1s ;
}
.input-style {
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    color: #555;
    outline: none;
  }
  
  .input-style {
    height: 38px;
    border-radius: 10px;
    border-color: #59518C;
    
  }
  .input-style:focus {
    height: 38px;
    border-radius: 10px;
    border-color: #756CBF;
   
  }
  
.altera-itens li a:hover{
    cursor: pointer;
    color: #756CBF;
}

.botao-inscricao{
    border-radius: 15px;
    margin-left: 800px;
    margin-top: 50px;
}

#mensagemInscricao{
    text-align: center;
}

.botao-inscricao:hover{
    
    color: #ffffff;
    border-color: #a39cdd !important;
    display: block;
    background-color: #CAACF2 !important;
    transition: 1s ;
}
